body {
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    background-image:url('./public/image/fond1.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;

}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'Pacifico', sans-serif;
    font-size: 5rem;
    margin: 0;
    position: relative;
    top: 20rem;
    letter-spacing: 5px;
}

/*Section*/

.img1{
    background: url('./public/image/fond8.png');
    height: 108rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    text-align: center;
    color: rgb(36, 23, 153);
    line-height: 1.5rem;
    /* font-family: 'Shadows Into Light', sans-serif; */
    /* font-family: 'Viaoda Libre', cursive; */
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 150;
    padding: 3.5rem;
    background: rgba( 255, 255, 255, 0.50 );
    -webkit-box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h2 {
    font-size: 4rem;
    font-family: 'Pacifico', sans-serif;
    line-height: 1.3rem;
    margin-bottom: 3.5rem;
}

.date{
    font-size: 2rem;
}

.text{
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    margin: 0 3rem;
    line-height: 3.5rem;
    font-style: bold;
}

.image{
    width: 100%;
    height: auto;
    border-radius: 15px;
    -webkit-box-shadow:  29px 29px 58px #6d8395,
                -29px -29px 58px #ffffff00;
            box-shadow:  29px 29px 58px #6d8395,
                -29px -29px 58px #ffffff00;
}

.image2{
    width: 40%;
    height: auto;
    border-radius: 15px;
    -webkit-box-shadow:  29px 29px 58px #6d8395,
                -29px -29px 58px #ffffff00;
            box-shadow:  29px 29px 58px #6d8395,
                -29px -29px 58px #ffffff00;
}


/*Deuxieme section*/

.img2{
    background: url('./public/image/fond4.png');
    height: 108rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Troisième section*/

.img3{
    background: url('./public/image/fond\ 6.jpg');
    height: 108rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Quatrieme section*/

.img4{
    background: url('./public/image/fond\ 7.png');
    height: 108rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Cinquieme section*/

.img5{
    background: url('./public/image/fond9.jpg');
    height: 108rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    -webkit-box-shadow:  29px 29px 58px #6d8395,
                -29px -29px 58px #ffffff00;
            box-shadow:  29px 29px 58px #6d8395,
                -29px -29px 58px #ffffff00;
}
table.blueTable td, table.blueTable th {
    padding: 10px;
}
table.blueTable tbody td {
    font-size: 13px;
}
table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.blueTable thead {
    background: #1C6EA4;
    background: -webkit-gradient(linear, left top, left bottom, from(#5592bb), color-stop(66%, #327cad), to(#1C6EA4));
    background: -o-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}
table.blueTable thead th {
    font-weight: bold;
    color: #FFFFFF;

}
table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -webkit-gradient(linear, left top, left bottom, from(#dcebf7), color-stop(66%, #d4e6f6), to(#D0E4F5));
    background: -o-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}
table.blueTable tfoot td {
    font-size: 14px;
}
table.blueTable tfoot .links {
    text-align: right;
}
table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

/*Responsive*/
@media screen and (max-width:849px) {
    h2 {
        font-size: 2rem;
    }
    h1 {
        font-size: 4rem;
    }
    .text{
        font-size: 2.5rem;
        margin: 0px;
    }
    .box {
        height: auto;
    }
}

@media screen and (max-width:568px) {
    html {
        font-size: 40%;
    }
    .box {
        height: auto;
    }

    .img1{
        height: 100vh;
    }
    /*Deuxieme section*/
    
    .img2{
        height: 100vh;
    }
    
    /*Troisième section*/
    
    .img3{
        height: 100vh;
    }
    
    /*Quatrieme section*/
    
    .img4{
        height: 100vh;
    }

    .text{
        font-size: 2.5rem;
        margin: 0px;
    }
}